/* Адаптация для маленьких экранов (iPhone и т.п.) */
@media (max-width: 480px) {
/* Обычные картинки (две и более) */
.image-container img {
  width: 35%;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: contain;
}

/* Если картинка одна */
.image-container img:only-child {
  width: 100%;
  max-width: 80%;
  border-radius: 15px;
}

/* Облака */
.speech-bubble { padding: 8px 15px; /* чуть больше отступов */}

#timerContainer {
  width: 90%;       /* 80% от ширины экрана */
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 12px;
}

#timeText { font-size: 11px; }

#timeBarContainer {
  width: 90%;
  height: 10px;
  border-radius: 10px;
}

#timeBar { border-radius: 10px 0 0 10px; }

/* Стиль только для начальной картинки */
#introImage {
  width: 100%;            /* занимает весь контейнер */
  max-width: 600px;       /* максимальная ширина */
  border-radius: 15px;    /* скругление углов */
}

/* Оверлей */
#introOverlay { top: 12%; } 

.answers { padding: 0px; }

.dialog-container { height: 240px; /* подбирается под размер картинок */ }

}

@media (max-width: 380px) {
/* Обычные картинки (две и более) */
.image-container img {
  width: 35%;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: contain;
}

/* Если картинка одна */
.image-container img:only-child {
  width: 100%;
  max-width: 70%;
  border-radius: 15px;
}

/* Облака */
.speech-bubble { padding: 8px 15px; /* чуть больше отступов */}

#timerContainer {
  width: 90%;       /* 80% от ширины экрана */
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 12px;
}

#timeText { font-size: 11px; }

#timeBarContainer {
  width: 90%;
  height: 10px;
  border-radius: 10px;
}

#timeBar { border-radius: 10px 0 0 10px; }

/* Стиль только для начальной картинки */
#introImage {
  width: 100%;            /* занимает весь контейнер */
  max-width: 600px;       /* максимальная ширина */
  border-radius: 15px;    /* скругление углов */
}

/* Оверлей */
#introOverlay { top: 10%; } 

.answers { padding: 0px; }

.dialog-container { height: 200px; /* подбирается под размер картинок */ }

.intro-text {
  max-width: 400px;
  background: rgba(255,255,255,0.15);
  padding: 20px 30px;
  border-radius: 20px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  font-size: 15px;
  line-height: 1.2;
  white-space: pre-line;
}

}